body {
  background-color: #333;
  color: white;
}

.menu-rotator {
  width: 39rem;
  height: 39rem;
  /*border: 1px solid green;*/
  font-size: 200%;
  /*NEW*/
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  
}

.menu-rotator a {
  color: white;
  text-decoration: none;
  /*border: 1px solid darkgreen;*/
  text-align: center;
  line-height: 10rem;
  width: 10rem;
  height: 10rem;
  justify-self: center;
  
  border-radius: 100%;
  background-color: #555;

  transition: .3s;
}
.menu-rotator a:hover {
  background-color: #888;
}
.menu-rotator i {
  font-size: 3rem;
}

.menu-rotator a:first-child {
  grid-column-start: 2;
}

.menu-rotator a:nth-child(2) {
  grid-row-start: 2;
  grid-column-start: 3;
  justify-self: center;
  transform: translateY(4.5rem);
}

.menu-rotator a:nth-child(3) {
  grid-row-start: 3;
  grid-column-start: 2;
}

.menu-rotator a:nth-child(4) {
  grid-row-start: 2;
  grid-column-start: 1;
  transform: translateY(4.5rem);
}

.menu-rotator div:last-child {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: #222;
  text-align: center;
  border-radius: 100%;

  transform: rotate(0deg);
  transition: .5s;
}
#opt-1:target .menu-rotator div.indicator {
  transform: rotate(0deg);
}
#opt-2:target .menu-rotator div.indicator {
  transform: rotate(90deg);
}
#opt-3:target .menu-rotator div.indicator {
  transform: rotate(180deg);
}
#opt-4:target .menu-rotator div.indicator {
  transform: rotate(270deg);
}